<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Recipe Book</a>
    <button (click)="toggleNavbarCollapsing()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="navbarCollapsed" class="navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav clearfix mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('recipes')">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
        </li>
        <div ngbDropdown class="nav-item me-5">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage</a>
          <ul ngbDropdownMenu class="dropdown-menu w-25">
            <li><a ngbDropdownItem class="dropdown-item" href="#">Save Data</a></li>
            <li><a ngbDropdownItem class="dropdown-item" href="#">Fetch Data</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>