<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ngbDropdown class="btn-group float-end">
            <button ngbDropdownToggle class="btn btn-primary dropdown-toggle">Manage Recipe</button>
            <ul ngbDropdownMenu class="dropdown-menu">
                <li><a ngbDropdownItem href="#">To Shopping list</a></li>
                <li><a ngbDropdownItem href="#">Edit Recipe</a></li>
                <li><a ngbDropdownItem href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>