<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row position-absolute end-0 me-5">
    <div class="col-xs-12">
        <div ngbDropdown class="btn-group">
            <button ngbDropdownToggle class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Manage Recipe</button>
            <ul ngbDropdownMenu class="dropdown-menu" appDropdown>
                <li><a ngbDropdownItem (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping list</a></li>
                <li><a ngbDropdownItem style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
                <li><a ngbDropdownItem style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col">
    <div class="row">
        <div class="col-xs-12">
            {{ recipe.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Ingredients
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} : {{ ingredient.amount }}</li>
            </ul>
        </div>
    </div>
</div>